
html{
	background: url('images.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	overflow: scroll;
}


.menu{

	width: 100%;
	height:100px;
	background-color: rgba(0,0,0,0.5);
	
}

.leftmenu{
	width: 20%;
	line-height: 50px;
	float: left;
/*background-color: pink;*/

}

.leftmenu{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 25px;

}

.rightmenu{
	width:68%;
    height:100px;
    float:right;
 /* background-color: red;*/
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li{
	display:inline-block;
	list-style: none;
	font-size: 22px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;
}

#list1{
	color:pink;
}

.rightmenu ul li{
	color:pink;
}





.Words h3{
	font-size: 20px;
	font-weight: 700px;
	margin:40px 0px;
}

.words h3{
	font-size: 400px;
	font-weight: 700px;
	margin:40px 0px;
}

#firstbutton{
	background-color: transparent;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color:red;


}

